<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="layout/main :: common_header(~{::title},~{::content},~{},~{})">
<head>
    <title>More Solutions</title>
</head>
<body>
<div class="container-fluid px-4" th:fragment="content">
    <h4 class="mt-4">More Solutions</h4>
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item">Dashboard</li>
        <li class="breadcrumb-item active">More Solutions</li>
    </ol>
    <div class="row my-4">
        <div class="col-lg-5">
            <div class="card">
                <div class="card-body more_solution">
                    <h5 style="font-size: 1em;">Enovvio Cloud Solutions</h5>
                    <div class="row">
                        <div class="col-lg-8" style="font-size:0.9em;">
                            <p>AI-powered software bundles help you manage applications across any cloud – with strong security.</p>
                        </div>
                        <div class="col-lg-4">
                            <img th:src="@{/img/services/Enovvio Cloud Solutions.png}" alt="" class="img-fluid">
                        </div>
                    </div>
                    <a class="btn btn-outline-enovvio" data-bs-toggle="modal" data-bs-target="#EndpointProtection">Request free trial</a>
                </div>
            </div>
        </div>
        <div class="col-lg-5">
            <div class="card">
                <div class="card-body more_solution">
                    <h5 style="font-size: 1em;">Global Training and Credentials</h5>
                    <div class="row">
                        <div class="col-lg-8" style="font-size:0.9em;">
                            <p>Choose courses that map to your learning journey and desired duty.</p>
                        </div>
                        <div class="col-lg-4">
                            <img th:src="@{/img/services/Global Training.png}" alt="" class="img-fluid">
                        </div>
                    </div>
                    <a class="btn btn-outline-enovvio" data-bs-toggle="modal" data-bs-target="#EndpointProtection">Get started</a>
                </div>
            </div>
        </div>
    </div>
    <div class="row my-4">
        <div class="col-lg-5">
            <div class="card">
                <div class="card-body more_solution">
                    <h5 style="font-size: 1em;">Consulting Services</h5>
                    <div class="row">
                        <div class="col-lg-8" style="font-size:0.9em;">
                            <p>Implementation of technical and innovative solutions. Get real results from business strategies.</p>
                        </div>
                        <div class="col-lg-4">
                            <img th:src="@{/img/services/Consulting Services.png}" alt="" class="img-fluid">
                        </div>
                    </div>
                    <a class="btn btn-outline-enovvio" data-bs-toggle="modal" data-bs-target="#EndpointProtection">Learn more</a>
                </div>
            </div>
        </div>
        <div class="col-lg-5">
            <div class="card">
                <div class="card-body more_solution">
                    <h5 style="font-size: 1em;">Security</h5>
                    <div class="row">
                        <div class="col-lg-8" style="font-size:0.9em;">
                            <p>Strengthen your security posture and reduce risk with security-first design principles that center on providing built-in security controls.</p>
                        </div>
                        <div class="col-lg-4">
                            <img th:src="@{/img/services/Security.png}" alt="" class="img-fluid">
                        </div>
                    </div>
                    <a class="btn btn-outline-enovvio" data-bs-toggle="modal" data-bs-target="#EndpointProtection">Request free trial</a>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="EndpointProtection" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-scrollable modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Contact Us</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="card">
                        <div class="card-body" style="background-color: #FEFEFE;">
                            <form>
                                <h6>Details</h6>
                                <div class="form-row">
                                    <div class="form-group col-md-6 input-field">
                                        <label for="date">Date</label>
                                        <input type="date" class="form-control" id="date">
                                    </div>
                                    <div class="form-group col-md-6 input-field">
                                        <label for="timezone">Timezome</label>
                                        <input type="time" class="form-control" id="timezone">
                                    </div>
                                </div>
                                <h6>Contact information</h6>
                                <div class="form-row">
                                    <div class="form-group col-md-6 input-field">
                                        <label for="firstname">First name</label>
                                        <input type="text" class="form-control" id="firstname">
                                    </div>
                                    <div class="form-group col-md-6 input-field">
                                        <label for="lastname">Last name</label>
                                        <input type="password" class="form-control" id="lastname">
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="form-group col-md-6 input-field">
                                        <label for="email">Email address</label>
                                        <input type="email" class="form-control" id="email">
                                    </div>
                                    <div class="form-group col-md-6 input-field">
                                        <label for="phone">Phone number</label>
                                        <input type="phone" class="form-control" id="phone">
                                    </div>
                                </div>
                                <div class="form-group input-field">
                                    <label for="company">Subject</label>
                                    <input type="text" class="form-control" id="company">
                                </div>
                                <div class="form-group input-field">
                                    <label for="message_contact">Please describe your issue</label>
                                    <textarea name="" id="message_contact" rows="5" class="form-control"></textarea>
                                </div>
                                <p>
                                    Enovvio is committed to protecting and respecting your privacy, and we’ll only use your personal information to administer your account and to provide the products and services you requested from us. From time to time, we would like to contact you about our products and services, as well as other content that may be of interest to you. If you consent to us contacting you for this purpose, please tick below to say how you would like us to contact you:
                                </p>
                                <div class="form-group">
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" id="gridCheck">
                                        <label class="form-check-label" for="gridCheck">
                                            I agree to receive other communications from Enovvio
                                        </label>
                                    </div>
                                </div>
                                <button type="submit" class="btn btn-primary">
                                    Submit
                                    <i class="fa-solid fa-arrow-right-long mx-3"></i>
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Send</button>
                </div>
            </div>
        </div>
    </div>


</div>
</body>
</html>
